<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Pessoa">
            <directory>./module/Pessoa/test</directory>
        </testsuite>
        <testsuite name="Blog">
            <directory>./module/Blog/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
